In [17]:
import numpy as np
import os
import pandas

In [31]:
reasonFiles = [x for x in os.listdir() if "ct1" in x]
reasonDict = {}
for fName in reasonFiles:
    if "badsequence" not in fName:

        name = fName.split("-")
        name = "-".join(name[2:])
        reasonDict[name] = 0

totArtefactList = []
for fName in reasonFiles:
    if "badsequence" not in fName:
        artefactList = []
        with open(fName,"r") as f:
            for line in f:
                line = line.strip()
                artefactList.append(line)

            artefactList = set(artefactList)
            totArtefactList.extend(artefactList)

            name = fName.split("-")
            name = "-".join(name[2:])
            reasonDict[name] += len(artefactList)

totArtefactList = set(totArtefactList)
reasonDict["Sum"] = len(totArtefactList)

In [32]:
biobankNum = len(os.listdir("D:/UKB_Liver/20204_2_0"))

reasonDict = {"Name":[x for x in reasonDict.keys()],"Val":[x for x in reasonDict.values()],"Freq":[x/biobankNum for x in reasonDict.values()]}

df = pandas.DataFrame(reasonDict)
df

                 Name   Val      Freq
0           Artifacts   329  0.006943
1     Field_artefacts   523  0.011037
2      highiron-lowt1   224  0.004727
3     lookuptable-rip   146  0.003081
4           m50pcfail   384  0.008103
5      Other_Unlisted   480  0.010129
6              pdff35   200  0.004221
7             Rainbow   664  0.014012
8   Segmentation_fail   768  0.016207
9      Wrong_location    70  0.001477
10            zeroct1   263  0.005550
11                Sum  3297  0.069576